.LobbyScreenContainer {
  background-image: url("./lobbypic3.png");
  background-size: cover;
  background-position: center;
  height: 100dvh;
  min-height: 100dvh;
  width: 100vw;
  overflow: hidden;
  position: relative;

  display: grid;
  place-items: center;
  text-align: center;

  animation: backgroundpulse 2s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}

.game-title {
  position: absolute;
  top: 4rem;
  left: 3rem;
  font-family: "Cinzel", serif;
  font-size: 3rem;
  color: #d9d9d9;
  transform: rotate(-20deg);
  line-height: 1;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);

  animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {opacity: 1;}
  50% { opacity: 0.15;}
}

@keyframes backgroundpulse {
  0% { opacity: 1; }
  50% { opacity: 0.9; }
  100% { opacity: 1; }
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main-menu button {
  background: none;
  border: none;
  color: white;
  font-family: "Cinzel", serif;
  font-size: 2rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  cursor: pointer;
}

.main-menu button:hover {
  opacity: 0.5;
}

.menu-row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: white;
}
